exptresults/
nips2014/images_backup
nips2014/images_20140427084427
nips2014 copy/
data
backup_concurrentcode

nips2014/exptresults.log

nips2014/*.aux
nips2014/*.blg
nips2014/*.log
nips2014/*.out
nips2014/*.synctex.gz
nips2014/*.fdb_latexmk
